services:
    product-node:
     env_file: 
       - ../docker/environments/common.env
     image: ${DOCKERHUB_USER}/${APPNAME}:${TAG}
     deploy:
      restart_policy:
          condition: on-failure
      replicas: 3
      placement:
        constraints: [node.labels.role == worker2 ]
     volumes:
       - logs-volume:/var/log/${APPNAME}/
  
    product-db:
      image: mongo:latest
      deploy:
       restart_policy:
          condition: on-failure
       placement:
        constraints: [node.labels.role == worker2]
      volumes:
         - mongo-data:/data/db

    # filebeat:
    #   image: ${DOCKERHUB_USER}/${APPNAME}-filebeat:${TAG}
    #   deploy:
    #     restart_policy:
    #       condition: on-failure
    #     placement:
    #       constraints: [node.labels.role == worker2]
    #   environment:
    #      - strict.perms=false
    #      - APPNAME=${APPNAME}

    #   volumes:
    #      - logs-volume:/var/log/${APPNAME}/:ro

networks:
   shared-swarm-net-dev:
      external: true
   shared-swarm-net-prod:
      external: true


volumes:
  mongo-data:
  logs-volume:

  # In this example, mongo-data is a named volume that ensures all data written 
  # by the MongoDB container to /data/db (MongoDB's default data directory) is saved persistently 
  # on the host system, even if the mongodb container is removed or recreated.