services:
    product-node:
     env_file: 
       - ../environments/common.env
     image: dockerenthusiast1992/product-node-express
     deploy:
      restart_policy:
          condition: on-failure
      replicas: 3
      placement:
        constraints: [node.labels.role == worker2]
     volumes:
       - logs-volume:/var/log/productmicrosvcs/
  
    product-db:
      image: mongo:latest
      deploy:
       restart_policy:
          condition: on-failure
       placement:
        constraints: [node.labels.role == worker2]
      volumes:
         - mongo-data:/data/db

    filebeat:
      image: dockerenthusiast1992/productmicrosvcs-filebeat
      deploy:
        restart_policy:
          condition: on-failure
        placement:
          constraints: [node.labels.role == worker2]
      environment:
         - strict.perms=false
      volumes:
         - logs-volume:/var/log/productmicrosvcs/:ro

networks:
   shared-swarm-net-dev:
      external: true
   shared-swarm-net-prod:
      external: true


volumes:
  mongo-data:
  logs-volume:

  # In this example, mongo-data is a named volume that ensures all data written 
  # by the MongoDB container to /data/db (MongoDB's default data directory) is saved persistently 
  # on the host system, even if the mongodb container is removed or recreated.