services:    
    product-node:
      env_file: 
       - environments/${TARGETENV}.env
      expose: 
        - 8095
      networks:
       - mynetwork-prod
       
    product-db:
      ports:
         - 27016:27017
      networks:
       - mynetwork-prod