services:    
    product-node-1:
      env_file: 
       - environments/${TARGETENV}.env
      # volumes:
      #   - C:/Users/User/certificates/self-signed-custom-ca/product.key:/var/lib/certs/product.key
      #   - C:/Users/User/certificates/self-signed-custom-ca/product.crt:/var/lib/certs/product.crt
      #   - C:/Users/User/certificates/self-signed-custom-ca/rootCA.crt:/var/lib/certs/rootCA.crt
      expose: 
        - 8095
      networks:
       - mynetwork-prod
    
    product-node-2:
       extends:
        service: product-node-1
       env_file: 
        - environments/${TARGETENV}.env

    product-node-3:
       extends:
        service: product-node-1
       env_file: 
        - environments/${TARGETENV}.env
   
    product-db:
      ports:
         - 27016:27017
      networks:
       - mynetwork-prod