services:
    product-node-1:
     env_file: 
       - environments/common.env
     image: dockerenthusiast1992/product-node-express
     volumes:
       - logs-volume:/var/log/productmicrosvcs/
     restart: always
     depends_on:
          - product-db
     build:
        context: ../
        dockerfile: docker/Dockerfile
     networks:
         - elk-network
    
    product-node-2:
      extends:
        service: product-node-1
      env_file: 
       - environments/common.env
     
 
    product-node-3:
       extends:
        service: product-node-1
       env_file: 
       - environments/common.env

    product-db:
      image: mongo:latest
      restart: always
      volumes:
         - mongo-data:/data/db

    filebeat:
      restart: always
      build:
        context: ../
        dockerfile: filebeat/Dockerfile
      environment:
         - strict.perms=false
      volumes:
         - logs-volume:/var/log/productmicrosvcs/:ro
      networks:
         - elk-network

networks:
   mynetwork-dev:
      name: product-microsvcs-dev-network
      driver: bridge
   mynetwork-prod:
      name: product-microsvcs-prod-network
      driver: bridge
   elk-network:
      name: elk-network
      external: true


volumes:
  mongo-data:
  logs-volume:

  # In this example, mongo-data is a named volume that ensures all data written 
  # by the MongoDB container to /data/db (MongoDB's default data directory) is saved persistently 
  # on the host system, even if the mongodb container is removed or recreated.